body {
    background-color: #F2BB99;
}

h1, h2, h3 { 
    color: white;
    text-align: center;
    list-style: none;
}

#startButton {
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#welcome {
    margin: auto auto;
    padding: 130px 425px;
    margin-top: 80px;
}

body {
   background-size: 50%;
}


